*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section1{
    background-image: url(img/abot1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60vh;
    width: 100%;
}
.cont1{
    display: flex;
    padding: 20px;
    padding-bottom: 85px;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 400;
    font-display: swap;
}
.fl1{
    flex: 0 0 50%;
    padding-top: 10px;
    padding-left: 60px;
}
.fl2{
    display: flex;
    width: 50%;
    text-align: left;
    padding-top: 35px;
    text-transform: uppercase;
}
.nav{
    flex-grow: 1;
}
a{
    padding-left: 15px;
    color: white;
    font-size: 17px;
    font-family: 'Gill Sans', sans-serif;
    text-decoration: none;
}
.me{
    border: 1.4px solid white ;
    border-radius: 10px;
    padding: 15px;
}
.me:hover{
    background-color: rgb(9, 82, 9);
    border: none;
}
.hd1{
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', sans-serif;
    color: white;
    padding-bottom: 20px;
}
.section4{
    font-family: 'DM Sans', sans-serif;
    padding-top: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px; /* Adjust padding as needed */
  }
.image-container {
    text-align: center;
  }
.image-container img {
    width: 400px; /* Adjust width as needed */
    border-radius: 7px;
}
.text-container p {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 40px ;
    padding-bottom: 40px;
    text-align: right;
}
.choke{
    font-size: 40px;
}
.bold{
    font-weight: bolder;
}

.section3{
    width: 100%;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}
.section5{
    font-family: 'DM Sans', sans-serif;
    padding-top: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    padding: 20px; /* Adjust padding as needed */
    width: 100%;
}
.section5 .text-container p{
    text-align: left;
    font-size: 20px;
    line-height: 35px;
}
.section6{
    width: 100%;
    background-color: rgb(234, 243, 238);
}
.section6 p{
    text-align: center;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    line-height: 40px;
}
.customer{
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    vertical-align: middle;
}
.customer img{
    border-radius: 50%;
}
figcaption{
    font-family: 'Gill Sans', sans-serif;
}
.dmd{
    color: rgb(9, 82, 9);
}
.hd3{
    display: flex;
    justify-content: center;
    align-items: center; /* Optional for vertical centering */
    height: 20vh; /* Optional for full-screen centering */
}
.hd3 a{
    text-align: center;
    font-weight: 505;
    border: 1.4px solid black;
    color: black;
    border-radius: 10px;
    padding: 16px 40px 16px 40px;  /* top right bottom left*/
}
.hd3 a:hover{
    text-align: center;
    color: white;
    border: 1.4px solid;
    padding: 16px 40px 16px 40px;  /* top right bottom left*/
    background-color: rgb(9, 82, 9);
    border: none;
}
.cont6{
    display: flex;
    padding: 20px;
    padding-bottom: 15px;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 400;
    font-display: swap;
    width: 100%;
}
.fl6{
    flex: 0 0 50%;
    padding-top: 10px;
    padding-left: 60px;
}
.fl7{
    display: flex;
    width: 50%;
    text-align: center;
    padding-top: 35px;
    text-transform: uppercase;
}
.nav{
    flex-grow: 1;
    padding-top: 40px;
}
.nav6{
    width: 35%;
    text-align: left;
    padding-top: 50px;
    font-family: 'Gill Sans', sans-serif;
}
.fl6 .nav a{
    padding-left: 15px;
    color: black;
    font-size: 17px;
    font-family: 'Gill Sans', sans-serif;
    text-decoration: none;
}

@media (min-width: 864px) and (max-width: 1118.98px) {
    .fl2{
        text-align: center;
        padding-top: 5px;
    }
    a{
        padding-left: 5px;
        font-size: 14px;
    }
}
@media (min-width: 688px) and (max-width: 863.98px) {
    .section1{
        width: 100%;
    }
    .cont1{
        padding-right: 5px;
        padding-left: 5px;
    }
    .fl1{
        flex: 0 0 40%;
    }
    .fl2{
        padding-top: 5px;
        text-align: left;
        width: 60%;
    }
    a{
        padding-left: 5px;
        font-size: 14px;
    }
    .me{
        padding: 5px;
    }
    .section3{
        width: 90%;
    }
    .cus2{
        width: 20%;
    }
    .dmd{
        font-size: 30px;
    }
    .section4{
        width: 90%;
    }
    .container, .section5{
        display: block;
    }
    .image-container img {
        width: 50%;
        border-radius: 7px;
    }
    .text-container p {
        text-align: center;
        width: 95%;
        padding-left: 20px;
        line-height: 30px;
        font-size: 24px;
        padding-bottom: 40px;
    }
}
@media (min-width: 588px) and (max-width: 687.98px) {
    .section1{
        width: 100%;
    }
    .cont1{
        display: block;
        padding-right: 0px;
        padding-left: 5px;
        padding-bottom: 100px;
    }
    .fl1{
        padding-top: 5px;
        padding-left: 20px;
    }
    .fl2{
        padding-top: 5px;
        text-align: left;
        width: 100%;
    }
    a{
        font-size: 12px;
    }
    .hd1{
        width: 200px;
        text-align: center;
        font-size: 30px;
        font-family: 'Gill Sans', sans-serif;
        color: white;
        padding-bottom: 20px;
    }
    .section3{
        width: 90%;
    }
    .cus2{
        width: 20%;
    }
    .dmd{
        font-size: 30px;
    }
    .section4{
        width: 90%;
    }
    .container, .section5{
        display: block;
    }
    .image-container img {
        width: 50%;
        border-radius: 7px;
    }
    .text-container p {
        text-align: center;
        width: 95%;
        padding-left: 20px;
        line-height: 30px;
        font-size: 24px;
        padding-bottom: 40px;
    }
}
@media (min-width: 425px) and (max-width: 587.98px) {
    .section1{
        background-position: center;
        background-size: cover; 
    }
    .cont1{
        display: block;
        padding-right: 0px;
        padding-left: 5px;
        padding-bottom: 100px;
    }
    .fl1{
        padding-top: 5px;
        padding-left: 20px;
    }
    .fl2{
        padding-top: 5px;
        text-align: left;
        width: 100%;
    }
    a{
        font-size: 18px;
    }
    .cus2{
        width: 20%;
    }
    .dmd{
        font-size: 30px;
    }
    .container{
        display: block;
    }
    .image-container img {
        width: 50%;
        border-radius: 7px;
    }
    .text-container p {
        text-align: center;
        padding-left: 20px;
        line-height: 30px;
        font-size: 24px;
        padding-bottom: 40px;
    }
    .section5{
        display: block;
    }
    .section6 p{
        padding-left: 15px;
        padding-right: 15px;
    }
    .cus2{
        width: 20%;
    }
    .dmd{
        font-size: 30px;
    }
    .cus2{
        width: 20%;
    }
    .dmd{
        font-size: 30px;
    }
    .fl6{
        padding-left: 20px;
    }
    .nav6{
        width: 45%;
    }
}
@media (min-width: 330px) and (max-width: 424.98px) {
    .section1{
        background-position: center;
        background-size: cover; 
    }
    .cont1{
        display: block;
        padding-right: 0px;
        padding-left: 5px;
        padding-bottom: 50px;
    }
    .fl1{
        padding-top: 5px;
        padding-left: 20px;
    }
    .fl2{
        padding-top: 5px;
        text-align: left;
        width: 100%;
    }
    a{
        font-size: 11px;
    }
    .cus2{
        width: 20%;
    }
    .dmd{
        font-size: 30px;
    }
    .container{
        display: block;
    }
    .image-container img {
        width: 50%;
        border-radius: 7px;
    }
    .text-container p {
        text-align: center;
        padding-left: 20px;
        line-height: 30px;
        font-size: 24px;
        padding-bottom: 40px;
    }
    .section5{
        display: block;
    }
    .section6 p{
        padding-left: 15px;
        padding-right: 15px;
    }
    .cus2{
        width: 20%;
    }
    .dmd{
        font-size: 30px;
    }
    .fl6{
        padding-left: 20px;
    }
    .nav6{
        width: 45%;
    }
}
@media (max-width: 329.99px){
    .cont1{
        display: block;
        padding-right: 0px;
        padding-left: 5px;
        padding-bottom: 50px;
    }
    .fl1{
        padding-top: 5px;
        padding-left: 20px;
    }
    .fl2{
        padding-top: 5px;
        text-align: left;
        width: 100%;
        display: block;
    }
    .nav{
        padding-bottom: 30px;
    }
    .nav .me{
        margin-left: 20px;
    }
    a{
        font-size: 10px;
    }
    .me{
        margin-top: 4px;
        padding: 9px;
    }
    .hd1{
        font-size: 20px;
    }
}